<h1 class="mt-4">Desenvolvedores</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ dev.id ? 'Editar' : 'Cadastrar'}}</li>
</ol>
<div class="container">
    <form #devFrom="ngForm" (ngSubmit)="saveDev()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Desenvolvedor salvo com sucesso !
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="dev.id">
            <div class="col-md-2">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled [ngModel]="dev.id" name="id" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome:*</label>
                    <input type="text" class="form-control" [(ngModel)]="dev.nome" name="nome" required="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data Nascimento:*</label>
                    <input type="date" class="form-control" [(ngModel)]="dev.dataNascimento" name="dataNascimento" required = "true"/>
                </div>
                
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Idade:</label>
                    <input type="text" class="form-control" [(ngModel)]="dev.idade" name="idade" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="sexo" class="control-class">Sexo:*</label>
                <div id="sexo" class="row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="dev.sexo" name="sexo"  value="M">
                        <label class="form-check-label" for="sexo">Masculino</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" [(ngModel)]="dev.sexo" name="sexo"  value="F">
                        <label class="form-check-label" for="sexo">Feminino</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Hobby:</label>
                    <input type="text" class="form-control" [(ngModel)]="dev.hobby" name="hobby" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success" 
                        *ngIf="!dev.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-success" 
                        *ngIf="dev.id">
                    <i class="fas fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="cancel()">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </form>
</div>